@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

$font-family: "Poppins", sans-serif;

$primary-color: #ff9072;
$primary-light-color: #fed5cb;
$secondary-color: #7466fb;
$secondary-light-color: #aba1ff;
$background-color: #fff;

$text-dark-color: #2d2942;
$text-light-color: #fff;
$text-gray-color: #c2c2c5;

$radient-button: linear-gradient(163deg, #fed5cb 0%, #ff9072 68%);

$border: #f4f5f6;
$aside-width: 27rem;
$header-height: 14.5rem;
