.aside {
  padding: 6.7rem 1rem 6.7rem 2.6rem;
  border-right: 1px solid $border;
  width: $aside-width;
  height: 100vh;
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }
  &__header-logo {
    max-width: 4.8rem;
    height: 4.8rem;
    border-radius: 25rem;
  }
  &__header-text {
    font-size: 2.4rem;
  }
  &__navigation {
    margin-top: 8rem;
    padding-left: 2.2rem;
  }
  &__navigation-item {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 4.3rem;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 2.2rem;
    }
    &.active {
      position: relative;
      background: rgb(254, 213, 203);
      background-image: linear-gradient(163deg, #fed5cb 0%, #ff9072 68%);
      padding: 2rem 1.7rem;
      border-radius: 20px;
      color: $text-light-color;
      z-index: 1;
      & > a {
        color: $text-light-color;
        z-index: 0;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 20px;
        opacity: 0;
        background: linear-gradient(338deg, #fed5cb 0%, #ff9072 68%);
        transition: all 0.2s ease;
      }
      &:hover::before {
        opacity: 1;
      }
    }
  }
  &__honors {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__honors-trophy {
    position: relative;
    height: 8rem;
    width: 8rem;
    border-radius: 25rem;
    background-image: linear-gradient(
      133deg,
      $secondary-light-color 27%,
      $secondary-color 74%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.3rem;
    cursor: pointer;
    & > i {
      color: $text-light-color;
    }
    &:hover .aside__honors-gif {
      display: block;
    }
  }
  &__honors-gif {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__honors-name {
    margin-bottom: 1.6rem;
  }
  &__honors-description {
    max-width: 164px;
    text-align: center;
    color: $text-gray-color;
  }
  &__logout {
    display: flex;
    align-items: center;
    column-gap: 2.6rem;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    margin-top: auto;
    margin: auto auto 0 auto;
    cursor: pointer;
    &:active .aside__logout-circle::before {
      background: linear-gradient(338deg, #fed5cb 0%, #ff9072 68%);
    }
  }
  &__logout-circle {
    position: relative;
    background-color: $background-color;
    height: 5.2rem;
    width: 5.2rem;
    border-radius: 25rem;
    border: 1px solid $primary-color;

    &::before {
      position: absolute;
      content: "";
      display: block;
      height: 4.6rem;
      width: 4.6rem;
      border-radius: 25rem;
      background-color: $primary-color;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: linear-gradient(163deg, #fed5cb 0%, #ff9072 68%);
    }
    & > i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $text-light-color;
    }
  }
}
